* {
  box-sizing: border-box;
}
body {
  background-color: darkcyan;
}

a {
  color: rgb(255, 255, 255);
}

.main-container {
  background-color: rgb(112, 205, 50);
  padding: 20px;
  width: 698px;
  border: 1px solid black;
}

.burger-body .main-container {
  background-color: rgb(120, 240, 240);
}

.spaghetti-body .main-container {
  background-color: khaki;
}

.taco-body .main-container {
  background-color: darkgoldenrod;
}

.recipe-container {
  background-color: rgb(36, 137, 104);
  padding: 5px 0;
}

.recipe-container li {
  padding: 5px;
}

.main-heading {
  background-color: azure;
}

.spaghetti-body {
  background-color: rgb(195, 195, 177);
}

.spaghetti-heading{
  background-color: red;
  font-size: 36px;
  color: white;
}

.s-lists {
  background-color: green;
  color: white;
  font-size: 24px;
}

.taco-body {
  background-color: rgb(234, 143, 143);
}

.taco-heading {
  font-size: 36px;
}
.red {
  background-color: red;
  color: white;
}

.t-lists {
  background-color: white;
  font-size: 24px;
  color: rgb(159, 96, 13);;
}

.green {
  background-color: green;
  color: white;
}

.burger-body {
  background-color: rgb(135, 135, 249);
}

.burger-heading {
  background-color: crimson;
  color: white;
}

.blue {
  background-color: blue;
  font-size: 24px;
  color: white;
}